<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Portfolios</h1>
    <p class="lead text-muted">Here are some of my projects born from my love for web development and graphic design</p>
    <p>
      <%= link_to "Find out about me", about_me_path, class: "btn btn-primary my-2" %>
      <%= link_to "My Blog", blogs_path, class: "btn btn-secondary my-2" %>
    </p>
  </div>
</section>