<div class="app-card-container"> 
  <div class="card">
    <h1>About Me</h1>

    <br>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 250, alt: "Profile Image", class: 'profile-img'%>
      </div>
      <div class="col-md-8">
        <p>Lorem ipsum dolor amet +1 hexagon knausgaard yuccie butcher copper mug, live-edge everyday carry marfa. Cornhole asymmetrical farm-to-table pickled, portland kombucha pug occupy humblebrag kale chips. Green juice single-origin coffee banh mi narwhal williamsburg. 3 wolf moon cardigan semiotics mixtape tofu air plant echo park.</p>

        <p>Offal try-hard tattooed lumbersexual put a bird on it celiac 3 wolf moon mustache. Taiyaki stumptown shaman shoreditch single-origin coffee, chia godard disrupt swag tilde raclette try-hard mustache selvage. Tumeric ugh stumptown tote bag before they sold out slow-carb biodiesel. Fanny pack marfa cardigan deep v, ugh artisan taxidermy.</p>

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controller="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controller="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-body">
              Job 1
            </div>
            <div class="card card-body">
              Job 2
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-body">
              School 1
            </div>
            <div class="card card-body">
              School 2
            </div>
            <div class="card card-body">
              School 3
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>